header{
    position: absolute;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    
}
nav{
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-size: 20px;
    color: white;
    
}

.link:hover{
    color: rgb(206, 206, 206);
}


.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-family: sans-serif;
}