
.parametr{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    margin-bottom: 5%;
}
.gic{
    height: 1px;
    width: 60%;
    background-color: white;
    align-self: center;
}
.parametr>div>h2{
    font-size: 30px;
}
.parametr>div>h2>span{
    margin-left: 5px;
    margin-right: 5px;
}
 #tesla3{
    height: 100vh;
    background-image: url(https://www.autocar.co.uk/sites/autocar.co.uk/files/images/car-reviews/first-drives/legacy/1-tesla-model-3-performance-2019-fd-hero-front.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    transition: 5s;
}